.answered{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: palegreen;
  .answered-icon{
    color: green;
  }
  .timestamp{
    display: flex;
    flex-direction: row;
    right: 0;
    margin-left: auto;
  }
}