.failed{
  display: flex;
  flex-direction: row;
  background-color: rosybrown;
  .fail-icon{
    color: red;
  }
  .timestamp{
    display: flex;
    flex-direction: row;
    margin-left: auto;

  }
}