.call-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  gap: 10px;

  .day-section{
    display: flex;
    flex-direction: column;
    align-content: center;

    .date-header{
      display: flex;
      flex-direction: column;
      align-content: center;
      h2{
        color: rgb(184, 182, 182);
        align-self: center;
        margin: 1em;
      }
  
    }
  }
}

