.missed{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: paleturquoise;
  width: 100%;
  .missed-icon{
    color: red;
  }
  .timestamp{
    display: flex;
    flex-direction: row;
    margin-left: auto;

  }
}