@import '../_mixins.scss';
@import '../_variables.scss';

.missed {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .call-details{
    display: flex;
    flex-direction: column;
    color: $fontCol1;

    h3{
      font-size: medium;
      font-weight: 700;
    }
    p{
      margin: 0;
    }
  }

  .missed-icon {
    margin: 5px 10px;
    color: red;
  }

  .timestamp {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    color: $fontCol1;
  }
}