.voicemail{
  display: flex;
  flex-direction: row;
  background-color: paleturquoise;

  .answered-icon{
    color: green;
  }
  .timestamp{
    display: flex;
    flex-direction: row;
    margin-left: auto;

  }
}