$primaryGray1: gray;
$primaryGray1-50: rgba(128, 128, 128, 0.5);
$primaryGray1-20: rgba(128, 128, 128, 0.2);


$primaryGreen1: green;
$primaryGreen1-50: rgba(0, 128, 0, 0.5);

$primaryOrange1: orange;
$primaryOrange-50: rgba(255, 166, 0, 0.5);

$primaryRed1: rgb(210, 48, 20);
$primaryRed1-50: rgba(210, 48, 20, 0.5);

$fontCol1: gray;
$fontCol2: rgb(84, 83, 83);